
/*Main*/
/*COlunas das imagems do main*/
.containermainimagem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.contentcontainermain .text{
    font-family: sans-serif;
    text-align: justify;
    padding-left: 1%;
    line-height: 1.5rem;
    word-spacing: 1;
}
.containermainimagem2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}


.coluna{
    display: flex;
    justify-content: center;
}
#imagemcoluna{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
#imagemcoluna{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
#imagemcoluna{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
/*Fim das colunas das imagems do main*/

.contentalingright{
    border: solid;
    width: 73%;
    height: auto;
    background-color: rgb(16, 15, 19);
    margin-top: 3%;
}

.contentalingright .content__text1{
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
    line-height: 1.3rem;
}